@font-face {
  font-family: 'EuclidCircularA-Bold';
  src: url('assets/fonts/Euclid-Circular-A-Bold.ttf');
}
@font-face {
  font-family: 'EuclidCircularA-Regular';
  src: url('assets/fonts/Euclid-Circular-A-Regular.ttf');
}

@font-face {
  font-family: 'EuclidCircularA-SemiBold';
  src: url('assets/fonts/Euclid-Circular-A-SemiBold.ttf');
}
@font-face {
  font-family: 'EuclidCircularA-Medium';
  src: url('assets/fonts/Euclid-Circular-A-Medium.ttf');
}


.body  {
    -fx-background-color: white;
    -fx-font-family: 'Euclid Circular A';
}


.active{
     -fx-background-color: #3641B7;
     -fx-text-fill: white;
     -fx-font-family: 'EuclidCircularA-Bold';
     -fx-font-size: 15px;
     -fx-border-radius: 0px;
     -fx-cursor:hand;
}

.disActive{
    -fx-background-color: darkgrey;
    -fx-text-fill: white;
    -fx-font-family: 'EuclidCircularA-SemiBold';
    -fx-font-size: 15px;
    -fx-border-radius: 0px;
    -fx-cursor:hand;
}

.DateBorder{
    -fx-border-color: #3641B7;
}

.BackButton{
     -fx-background-color: white;
     -fx-text-fill: #3641B7;
     -fx-font-family: 'EuclidCircularA-Bold';
     -fx-font-size: 15px;
     -fx-border-radius: 0px;
     -fx-border-color: #3641B7;
     -fx-cursor:hand;
}

.SubmitButton{
     -fx-background-color: #3641B7;
     -fx-text-fill: white;
     -fx-font-family: 'EuclidCircularA-Bold';
     -fx-font-size: 15px;
     -fx-border-radius: 0px;
     -fx-cursor:hand;
}

.createEvent-header{
    -fx-font-family: 'EuclidCircularA-Bold';
    -fx-font-size: 40px;
}

.subtitle2{
    -fx-font-family: 'EuclidCircularA-SemiBold';
    -fx-font-size: 18px;
}

.txt{
    -fx-font-size: 15px;
}