@font-face {
  font-family: 'EuclidCircularA-Bold';
  src: url('assets/fonts/Euclid-Circular-A-Bold.ttf');
}
@font-face {
  font-family: 'EuclidCircularA-Regular';
  src: url('assets/fonts/Euclid-Circular-A-Regular.ttf');
}

@font-face {
  font-family: 'EuclidCircularA-SemiBold';
  src: url('assets/fonts/Euclid-Circular-A-SemiBold.ttf');
}
@font-face {
  font-family: 'EuclidCircularA-Medium';
  src: url('assets/fonts/Euclid-Circular-A-Medium.ttf');

}

.header{

    -fx-font-family:'EuclidCircularA-Medium';
    -fx-font-size: 16px;
}
.title{
    -fx-font-family:'EuclidCircularA-Bold';
    -fx-font-size: 30px;
}


.btn-okay{
    -fx-background-color: #1F28CF;
    -fx-font-family:'EuclidCircularA-Bold';
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

