@font-face {
  font-family: 'EuclidCircularA-Bold';
  src: url('assets/fonts/Euclid-Circular-A-Bold.ttf');
}
@font-face {
  font-family: 'EuclidCircularA-Regular';
  src: url('assets/fonts/Euclid-Circular-A-Regular.ttf');
}

@font-face {
  font-family: 'EuclidCircularA-SemiBold';
  src: url('assets/fonts/Euclid-Circular-A-SemiBold.ttf');
}
@font-face {
  font-family: 'EuclidCircularA-Medium';
  src: url(assets/fonts/Euclid-Circular-A-Medium.ttf) format('tff');
}


.body  {
    -fx-background-color: white;
    -fx-font-family: 'Euclid Circular A';
}

.system_button{
    -fx-background-color: transparent;
}

.btn{
    -fx-background-color: #3641B7;
    -fx-background-radius: 18px;
    -fx-cursor: hand;


}
.btn .text{
    -fx-fill: white;
    -fx-font-family: 'EuclidCircularA-SemiBold';
    -fx-font-size: 15px;
}

.btn-border{
    -fx-background-color: transparent;
    -fx-border-color:  #3641B7;
    -fx-border-radius: 18px;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}
.btn-border .text{
    -fx-fill: #3641B7;
    -fx-font-family: 'EuclidCircularA-SemiBold';
    -fx-font-size: 15px;
}

.cursor-hand{
    -fx-cursor: hand;
}

.progress-bar .bar {
    -fx-background-radius: 20px;
    -fx-background-color: #FE6174;
}

.progress-bar .track {
    -fx-background-color: Transparent;
}

.sign-up-div .header{
    -fx-font-family: 'EuclidCircularA-Bold';
}

.sign-up-div .subtitle{
     -fx-font-family: 'EuclidCircularA-SemiBold';
 }

.sign-up-div .field{
    -fx-background-color: transparent;
    -fx-border-color:  #1F28CF;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}
.sign-up-div .field .text{
    -fx-font-family: 'EuclidCircularA-Regular';
}

.next-btn{
    -fx-font-family: 'EuclidCircularA-Bold';
    -fx-font-size: 15px;
}
.sign-up-div .message{
    -fx-fill: #FF6D6D;
}
